.inputOption {
    display: flex;
    align-items: center;
    margin-top: 0.75rem;
    color: grey;
    padding: 0.5rem;
    cursor: pointer;
}

.inputOption:hover {
    background-color: whitesmoke;
    border-radius: 10px;
}

.inputOption > h4 {
    margin-left: 5px;
}